* {
  box-sizing: border-box;
  user-select: none;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

canvas {
  display: block;
  border: 2.5px solid #ffffff;
  border-radius: 0.25rem;
  position: relative;
  cursor: pointer;
}